.aks-navbar-head {
    height: 50px; 
    width: 100%; 
    background-image: linear-gradient(to bottom right,#FDD833, #FEF0B3);
}

.quote-nav {
    float: right;
    margin: 5px;
    padding: 5px;
    border-radius: 25px;
    color: white;
    background-color: #1BA5E7;
}

.aks-navbar {
    background-color: #1BA5E7;
}

.aks-nav-logo {
    color: #FDD833;
    border-color: #FDD833;
}

.aks-toggler {
    border-color: #FDD833;
}

.aks-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(253, 216, 51, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.aks-head {
    position: relative;
}

.aks-logo {
    font-size: 16vw;
    text-align: center;
    position: absolute;
    top: 23%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50%;
    width: 100%;
    height: 100px;
    color: #FDD833;
}
