.eks-navbar-head {
    height: 60px; 
    width: 100%; 
    background-color: #1BA5E7; 
}

.tel-nav {
    float: right;
    margin: 15px 10px 5px;
    padding: 5px 15px;
    border-radius: 25px;
    color: #1BA5E7;
    background-color: #FDD833;
}

.quote-nav {
    float: right;
    margin: 5px 10px 5px;
    padding: 5px 15px;
    border-radius: 25px;
    border-color: #1BA5E7;
    background-color: #1BA5E7;
}

.eks-navbar {
    background-image: linear-gradient(to bottom right, #FFF,#FDD833);
}

.eks-nav-logo {
    width: 70px;
}

.eks-toggler {
    border-color: #1BA5E7;
}

.eks-head {
    position: relative;
}

.eks-logo {
 width: 50%;
}

#contact {
    scroll-margin-top: 143px;
}

.contact-form {
    z-index: -1;
    width: 100%;
    background-color: #E9ECEF;
}

.eks-btn {
    background-color: #1BA5E7;
}