.eks-navbar-head {
    width: 100%; 
    background-image: linear-gradient(to bottom right,#FFF, #11B855);
}

.quote-nav {
    float: right;
    margin: 5px;
    padding: 5px;
    border-radius: 25px;
    background-color: #09254D;
}

.eks-navbar {
    background-color: #09245D;
}

.eks-nav-logo {
    max-width: 80px;
    margin-left: 20px;
}

.eks-toggler {
    border-color: #FFF;
}

.eks-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(245, 245, 245, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.eks-link {
    color: #FFF;
    font-weight: bold;
}

